.header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 72px;
  text-align: center;
  background: #0064EB;

  .github-icon {
    height: 40px;
    width: 40px;
    color: white;
    margin-right: 22px;
  }

  .search-icon-wrapper {
    padding: 0 20px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search {
    position: relative;
    background-color: white;
    border-radius: 6px;
    margin-left: 0;
    width: 300px;

  }
}